<div id="navbarholder" ng-include src="'app/navbar/navbar.html'"></div>

<div ng-controller="RegisterCtrl" class="login">
  <div>Create a User</div>
  <div class="user">
    <input ng-model="username" type="text" placeholder="username"></input>
  </div>
  <div class="password">
    <input ng-model="password" type="password" placeholder="password"></input>
  </div>
  <div class="row" id="submitters">
    <div class="tweleve columns">
      <button ng-click="create()">create user</button>
    </div>
  </div>
</div>
