<div id="navbarholder" ng-include src="'app/components/navbar/navbar.html'"></div>

<div ng-controller="LoginCtrl" class="login">
  <div class="user">
    <input ng-model="user.username" type="text" placeholder="username"></input>
  </div>
  <div class="password">
    <input ng-model="user.password" type="password" placeholder="password"></input>
  </div>
  <div class="row" id="submitters">
    <div class="six columns">
      <button ng-click="login()">login</button>
    </div>
    <div class="six columns">
      <a class="button" href="/signup">register</a>
      <!-- <button ng-click="register()">register</button> -->
    </div>
  </div>
</div>
