<div ng-controller="LoginCtrl" class="login">

  <h1>Login</h1>
  <form ng-submit="login()">
  <div class="user">
    <input ng-model="user.username" type="text" placeholder="username" autofocus="true" autocapitalize="none" required>
  </div>
  <div class="password">
    <input ng-model="user.password" type="password" placeholder="password" autocapitalize="none" required>
  </div>
  <div id="submitters">
    <div id="loginButton">
      <button type="submit">login</button>
    </div>
  </form>
    <div id="signupButton">
      <a href="/signup" class="button">register</a>
    </div>
  </div>

</div>
