<div ng-controller="LoginCtrl" class="login">
  <h1>Login</h1>
  <form ng-submit="login()">

  <div class="user">
    <input ng-model="user.username" type="text" placeholder="username"></input>
  </div>
  <div class="password">
    <input ng-model="user.password" type="password" placeholder="password"></input>
  </div>
  <div class="row" id="submitters">
    <div class="six columns">
      <button type="submit">login</button>
    </div>
  </form>
    <div class="six columns">
      <a class="button" href="/signup">register</a>
      <!-- <button ng-click="register()">register</button> -->
    </div>
  </div>
</div>
