<div id="navbarholder" ng-include src="'app/components/navbar/navbar.html'"></div>

<!-- <img class="media-object img-rounded" ng-src="{{show.poster}}"> -->
<!-- test -->
<div id="infoHolder">
  <div class="row innerPad">
    <div class="six columns">
      <img class="media-object img-rounded" ng-src="{{showInfo.poster}}">
    </div>
    <div class="six columns">
      <h1 class="title">{{showInfo.name}}</h1>
        <h5 class="year">first aired: {{showInfo.firstAired | date : format : timezone }}</h5>
        <h5 class="status">airing status: {{showInfo.status}}</h5>
        <div class="overviewHolder">
          <span class="overview">{{showInfo.overview}}</span>
        </div>
    </div>
  </div>
</div>
<div id="rowsHolder">
  <div class="seasonRow" ng-repeat="(sNumber, season) in showInfo.seasons">
    <div class="checkHolder">
        <input type="checkbox">
    </div>
    <div class="openHolder">
      <div class="seasonItem button" ng-click="openEpisodes(sNumber)">
        <span class="number">Season {{sNumber}}</span>
      </div>
    </div>
    <div class="episodeHolder"  ng-show="showEpisodes(sNumber)">
      <div class="episodeRow" ng-repeat="(eNumber, episode) in season">
      <div class="checkHolder">
        <input type="checkbox">
      </div>
      <div class="episodeItem">
         {{eNumber}} {{episode.episodeName}}
      </div>
      </div>
    </div>
  </div>
</div>
