#infoHolder {
  .innerPad {
    padding: $padding-size;
    margin-bottom: 20px;
  }
  width: 100%;
  // margin: 1.5%;
  box-shadow: 0 2px 6px 0.4px #a7a7a7;
  a {
    @include setLinkStyleAll(black);
    -webkit-transition: color .5s; /* Safari */
    transition: color .5s;
  }
  a:hover {
    color: $main-palatte;
  }

  img {
    height: 500px;
  }
  h1 {
    text-align: center;
  }
  .overviewHolder {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-top: $padding-size;
    // text-align: center;
    .overview {
      // position: absolute;
      // top: 0;
    }
  }
}
#rowsHolder {
  width: 100%;
  .seasonRow {
    padding-left: $padding-size;
    padding-right: $padding-size;
    .checkHolder {
      position: relative;
      // vertical-align: center;
      text-align: center;
      width: 5%;
      display: inline-block;
    }
    .openHolder {
      position: relative;
      width: 94%;
      display: inline-block;
      .seasonItem {
        width: 100%;
        @include no-touchy();
        box-shadow: 0 2px 6px 0.4px #a7a7a7;
        height: $item-height;
      }
    }
  }
  .episodeHolder {
    max-height: 1500px;

    @include transition(all linear .35s);
  }
  .ng-hide:not(.ng-hide-animate) {
    display: block !important;

  }
  .episodeHolder.ng-hide {
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
  }
  .episodeRow {
    .episodeItem {
      display: inline-block;
      padding-left: $padding-size;
      width: 90%;
    }
  }
}
