#infoHolder {
  .innerPad {
    padding: $padding-size;
    margin-bottom: 20px;
  }
  width: 100%;
  // margin: 1.5%;
  box-shadow: 0 2px 6px 0.4px #a7a7a7;
  a {
    @include setLinkStyleAll(black);
    -webkit-transition: color .5s; /* Safari */
    transition: color .5s;
  }
  a:hover {
    color: $main-palatte;
  }

  img {
    height: 500px;
  }
  h1 {
    text-align: center;
  }
  .overviewHolder {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-top: $padding-size;
    text-align: center;
    .overview {
      // position: absolute;
      // top: 0;
    }
  }
}
.seasonItem {
  width: 100%;
  box-shadow: 0 2px 6px 0.4px #a7a7a7;
  height: $item-height;
  margin-bottom: $padding-size*2;
  line-height: 4rem;
  .number {
    padding-left: $padding-size;
  }
}
