$checkbox-size: 20px;

#infoHolder {
  .innerPad {
    padding: $padding-size;
    margin-bottom: 20px;
    position: relative;
  }
  width: 100%;
  box-shadow: 0 2px 6px 0.4px #a7a7a7;
  a {
    @include setLinkStyleAll(black);
    -webkit-transition: color .5s; /* Safari */
    transition: color .5s;
  }
  a:hover {
    color: $main-palatte;
  }

  img {
    height: 500px;
    @include for-mobile() {
      width: 100%;
      // height: 200px;
      height: auto;
    }
  }
  .overviewHolder {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-top: $padding-size;
  }
}
.deleteAddButton {
  position: absolute;
  bottom: $padding-size;
  right: $padding-size;
  color: white;
}
#notInDatabase {
  @extend .deleteAddButton;
  background-color: $main-palatte;
}
#inDatabase {
  @extend .deleteAddButton;
  background-color: $opposite-palatte;
}
#rowsHolder {
  width: 100%;
  @include not-for-mobile() {
    margin-bottom: 300px;
  }
  .seasonRow {
    overflow: hidden;
    position: relative;
    padding-left: $padding-size;
    padding-right: $padding-size;
    .seasonCheck {
      line-height: $item-height;
      input {
        margin: 0;
        vertical-align: middle;
      }
    }
    .checkHolder {
      display: inline-block;
      float:left;
      padding-right: $padding-size;
      input {
        width: $checkbox-size;
        height: $checkbox-size;
      }
    }
    .openHolder {
      overflow: hidden;
      display: block;
      .seasonItem {
        width: 100%;
        @include no-touchy();
        box-shadow: 0 2px 6px 0.4px #a7a7a7;
        height: $item-height;
      }
    }
  }
  .episodeHolder {
    max-height: 1600px;
    // doesnt work on my phone!
    @include not-for-mobile() {
      @include transition(all linear .35s);
      // @include transition(max-width linear .35s);
      // @include transition(max-width linear .35s, opacity linear .5s);
    }
  }
  .episodeHolder.ng-hide:not(.ng-hide-animate) {
    display: block !important;

  }
  .episodeHolder.ng-hide {
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
  }


  .episodeRow {
    position: relative;
    height: $checkbox-size;
    margin-bottom: 10px;
    .checkHolder {
      clear: both;
      padding-left: $padding-size*2+20px;
    }
    input {
      margin: 0;
    }
    .episodeItem {
      line-height: $checkbox-size;
      // vertical-align: center;
      overflow: hidden;
      display: block;
    }
    .episodeRow {
      .episodeItem {
        display: inline-block;
        padding-left: $padding-size;
        width: 85%;
      }
    }
  }
}
