// import a font
@mixin font-face($name, $path, $exts: eot woff2 woff ttf svg, $src: null) {
  $extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);
  $formats: (
		otf: "opentype",
		ttf: "truetype"
	);
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    src: $src;
  }
}
@mixin setLinkStyleAll($param-color) {
  &, &:hover, &:link, &:active, &:visited {
        text-decoration: none;
        color:$param-color;
        // @content;
    }
}

@mixin no-touchy() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin transition($transitions...) {
  -moz-transition: $transitions;
  -webkit-transition: $transitions;
  transition: $transitions;
}
