$fa-font-path: "/bower_components/font-awesome/fonts";

// global variables
$h2-height:  4rem;
$h5-height:  1.6rem;
$nav-height: 45px;
$item-height: 40px;
$padding-size: 10px;
$main-palatte: #5CBB5D;
$opposite-palatte: #458C8C;
$light-green-color: #B9E9B9;

@import '../bower_components/normalize.css/normalize';
@import '../bower_components/Skeleton-Sass/scss/skeleton';
@import '../bower_components/font-awesome/scss/font-awesome';
@import 'mixins';
@import 'components/navbar/navbar';
@import 'account/account';
@import 'shows/shows';
@import 'main/main';
@import 'shows/addShow/addShow';
@import 'shows/showInfo/showInfo';

// @include font-face('MyWebby', '../fonts/bariol/bariol_regular-webfont');
@import url(https://fonts.googleapis.com/css?family=NTR);
// @import url(https://fonts.googleapis.com/css?family=Varela+Round);



html,body {
  // font-family: 'Varela Round', sans-serif;
  // font-family: 'myWebby';
  font-family: 'NTR';
  margin: 0;
  padding: 0;
  color: #000;
}
h2 {
  font-size: $h2-height;
}
h5 {
  font-size: $h5-height;
  margin-bottom: 5px;
}
