$fa-font-path: "/bower_components/font-awesome/fonts";

@import '../bower_components/font-awesome/scss/font-awesome';
@import 'navbar/navbar';
@import 'account/account';

html,body {
  margin: 0;
  padding: 0;
}

#loginHolder {
  // margin-left: 10%;
  // width: 80%;
}
