// @include font-face('MyWebby', '../fonts/bariol/bariol_regular-webfont');
@import url(https://fonts.googleapis.com/css?family=NTR);
// @import url(https://fonts.googleapis.com/css?family=Varela+Round);
$fa-font-path: "/bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
// '../bower_components/alertify.js/dist/css/alertify',

// global variables
$nav-height: 45px;
$item-height: 40px;
$padding-size: 10px;
$margin-size: 12px;
$checkbox-size: 20px;
$main-color: #5CBB5D;
$blue-color: #458C8C;
$light-green-color: #B9E9B9;
$text-color: black;
$shadow-color: #a7a7a7;
// $shadow-color: #ececec;
$text-black: black;
$text-white: white;





html,body {
  // font-family: 'Varela Round', sans-serif;
  // font-family: 'myWebby';
  font-family: 'NTR';
  margin: 0;
  padding: 0;
  color: $text-color;
}
h2 {
  font-size: 4rem;
}
h5 {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

// injector
@import 'mixins';
@import 'account/account';
@import 'components/alertifycustom';
@import 'components/navbar/navbar';
@import 'main/main';
@import 'shows/addShow/addShow';
@import 'shows/showInfo/showInfo';
@import 'shows/shows';
// endinjector
