$font-size: 1.6em;
$font-color: white;
$nav-height: 35px;
@mixin setLinkStyleAll($param-color) {
  &, &:hover, &:link, &:active, &:visited {
        text-decoration: none;
        color:$param-color;
        // @content;
    }
}



#navbar {
  background-color: #5CBB5D;
  text-align:center;
  // height: $nav-height;
  color: $font-color;

  .column,.columns {
    margin-top: auto;
    font-size: $font-size;
    display: inline-block;
    button {
      i {
        vertical-align: bottom;
        line-height: 1.7em;
      }
      color: $font-color;
      border-style: none;
      margin: 0;
    }
    a {
      @include setLinkStyleAll($font-color);
    }
  }
}
