$font-size: 1.5em;
$font-color: white;



#navbar {
  background-color: #5CBB5D;
  text-align:center;
  height: $nav-height;
  color: $font-color;
  box-shadow: 0 2px 6px 0.4px #a7a7a7;

  .column,.columns {
    height: 100%;
    margin-top: auto;
    display: inline-block;

    i {
      line-height: 4rem;
      color: $font-color;
      cursor: pointer;
    }
    a {
      @include setLinkStyleAll($font-color);
    }
  }
  @media only screen and (max-width: 550px){
    #menu, #spacer {
      width: 20%;
    }
    #name {
      width: 60%;
    }
  }
}
