$font-size: 1.5em;
$font-color: white;
$nav-height: 35px;
@mixin setLinkStyleAll($param-color) {
  &, &:hover, &:link, &:active, &:visited {
        text-decoration: none;
        color:$param-color;
        // @content;
    }
}



#navbar {
  background-color: #5CBB5D;
  text-align:center;
  height: $nav-height;
  color: $font-color;

  .column,.columns {
    margin-top: auto;
    font-size: $font-size;
    display: inline-block;
    button {
      color: $font-color;
      border-style: none;
      margin: 0;
    }
  }
  .name {
    font-size: $font-size;
    z-index: 1;
    position: absolute;
    width: 30%;
    left: 35%;
    // text-align: center;
    // vertical-align: middle;
    // line-height: $font-size;

    a {
      @include setLinkStyleAll($font-color);
    }
  }
}
