.alertify-logs.bottom {
  bottom: $margin-size;
  .default {
    background: none;
    box-shadow: none;
    overflow:visible;
    color: $text-white;
    // transition: all 0.4s linear;
    transition: all 0.2s linear;
  }
  .inner {
    background-color: $main-palatte;
    padding: $padding-size;
    font-size: 1.2em;
    box-shadow: 0 2px 4px 1px $shadow-color;
    box-sizing: border-box;
    border-radius: 5px;
    // transition: padding 0.2s linear;
  }
  .spanHolder {
    display: inline-block;
  }
  .watchButton {
    background-color: $light-green-color;
    color: $text-black;
    display:inline-block;
    margin-left: 5px;
    padding: 0 5px;
    // border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
  }
}
// set clickable on top
// works but then the button is unclickable or unpositionable inside the div
// .default {
//   position: relative;
// }
// .inner {
//   position: relative;
//   z-index: -5;
//   padding: $padding-size;
//   padding-right: $padding-size + 37.5px + 5px + 5px;
// }
// .watchButton {
//   position: absolute;
//   // left: 0;
//   top: 0;
// }
// to center a variable width .inner div
.alertify-logs.center {
  display:table;
  left:0; // toggle to get a side div
  width:100%; //toggle to get a side div
  .default {
    text-align:center;
    width:100%;
  }
  .inner {
    // height: $item-height;
    display: inline-block;
    line-height: 20px;
  }
}
// remove existing transitions, add a bottom transition
.alertify-logs>.show {
  margin: 0;
  padding: 0;
}
.alertify-logs.left>.show, .alertify-logs:not(.right)>.show {
  left: auto;
  opacity: 1;
  bottom: 0;
  position: absolute;
}
.alertify-logs.left>*, .alertify-logs.left>.hide, .alertify-logs:not(.right)>*, .alertify-logs:not(.right)>.hide {
  left: auto;
  opacity: 1;
  position: absolute;
  bottom: -110px;
}
.added .inner {
}
