$font-size: 1.6rem;


.showItem {
  font-size: $font-size;
  height: $item-height;
  // border-top: 1px solid #ececec;
  border-bottom: 1px solid #a7a7a7;
  margin-top: 12px;
  box-shadow: 0 2px 6px 0.4px #a7a7a7;
  line-height: 4.0rem;
  .showName {
    padding-left: $padding-size;
  }
  .lastSeen {
    float: right;
    padding-right: $padding-size;
  }
  .advanceIcon {
    cursor: pointer;
    @include no-touchy();
    padding-left: $padding-size;
  }
  .advanceIcon:hover {
    color: white;
  }
  .progressBar {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: $item-height;
  }
  .seasonBar {
    height: $item-height;
    position: relative;
    display: inline-block;
  }
  .episodeBar {
    // min-height:1px;
    height: inherit;
    display: inline-block;
    position: relative;
    z-index: -1;
    // width: 100%;
  }
  // .slider { // width transition
  //   width: 0;
  //   height: inherit;
  //   @include transition(width .5s);
  //   background-color: $light-green-color;
  // }
  // .slider.watched {
  //   width: 100%;
  // }// end width transition
  .slider { // height tranisition
    position:absolute;
    bottom:0;
    height: 0;
    width: 100%;
    @include transition(height 0.5s);
    background-color: $light-green-color;
  }
  .slider.watched {
    height: inherit;
  } // end height tranisition
  // .episodeBar {// background position transition
  //   width: 100%;
  //   height: inherit;
  //   background-size: 100% 200%;
  //   background-image: linear-gradient(to top, $light-green-color 50%, transparent 50%);
  //   transition: background-position 1s;
  // }
  // .episodeBar.watched {
  //   background-position: 0 100%;
  // }//end background position transition

  a {
    @include setLinkStyleAll(black);
    @include transition(color .5s)
  }
  a:hover {
    color: white;
  }

}
