<div id="{{ show.showId }}" class="showItem" ng-repeat="show in user">
  <div class="progressBar">
    <div class="seasonBar" ng-repeat="(sNumber, season) in show.seasons" style="width:{{season.episodes.length/numEpisodes(show.showId)*100}}%">
      <div id="{{show.showId}}-{{sNumber}}-{{eNumber}}" class="episodeBar" ng-class="{watched: episode}" ng-repeat="(eNumber, episode) in season.episodes track by $index" style="width: {{100/season.episodes.length}}%">
        <div class="slider" ng-class="{watched: episode}"></div>
      </div>
    </div>
  </div>

  <span class="advanceIcon" ng-click="advance(show.showId)">
    <i class="fa fa-check fa-1x"></i>
  </span>
  <span class="showName">
    <a href="/shows/{{show.showId}}">{{ show.title }}</a>
  </span>
  <span ng-hide="show.finished" class="lastSeen">
    Season {{ show.current.season + 1 }}  Episode {{ show.current.episode + 1 }}
  </span>
  <span ng-show="show.finished" class="lastSeen">show completed!</span>
</div>

<div id="alertifyHolder"></div>
