<div id="navbarholder" ng-include src="'app/components/navbar/navbar.html'"></div>

<div id="{{ show.showId }}" class="showItem" ng-repeat="show in user">
  <div class="progressBar">
    <div class="bar"></div>
    <!-- <div class="bar" style="width:{{ show.percentComplete }}%;"></div> -->
  </div>

  <span class="advanceIcon" ng-click="advance(show.showId)">
    <i class="fa fa-check fa-1x"></i>
  </span>
  <span class="showName">
    <a href="/shows/{{show.showId}}">{{ show.title }}</a>
  </span>
  <span ng-hide="show.finished" class="lastSeen">
    Season {{ show.current.season + 1 }}  Episode {{ show.current.episode + 1 }}
  </span>
  <span ng-show="show.finished" class="lastSeen">show completed!</span>
</div>
