<div id="navbarholder" ng-include src="'app/components/navbar/navbar.html'"></div>

<div id="{{ seriesId }}" class="showItem" ng-repeat="(seriesId, show) in shows">
  <div class="progressBar">
    <div class="bar"></div>
    <!-- <div class="bar" style="width:{{ show.percentComplete }}%;"></div> -->
  </div>
  <!-- <button> -->
    <i class="advance fa fa-check fa-1x" ng-click="advance(seriesId)"></i>
  <!-- </button> -->
  <span class="showName">
    {{ show.title }}
  </span>
  <span class="lastSeen">
    Season {{ show.season }}  Episode {{ show.episode }}
  </span>
</div>
