#login {
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
  text-align: center;
  input {
    width: 60%;
    // min-width: 400px;
  }
  .row {
    width: 60%;
    margin-left: 20%;
  }
}
